<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QLBHiemDB" connectionString="Data Source=DESKTOP-N5MSHK5\SQLSEVER;Initial Catalog=QLBHiem;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>
